In [10]:
# Dependencies
import tweepy
import json
import pandas as pd

# Your Twitter API Keys
consumer_key = "imIIAxheqCEuHq8mHk3lNJO0t"
consumer_secret = "1l8hfeVQGbChQtZ7CIKsgtPimg38cAALpIZ9QreW8vG82lCTEs"
access_token = "770107676957216769-Zp2RA9bdYHjOEa8fqCDOAhfNbAdMALG"
access_token_secret = "OsumkVbxLfbo3sX3LcJhouwDPbFmswtsFl8oadz7gOqOn"

# Setup Tweepy API Authentication
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

In [24]:
# Import CSV file into Data Frame
popular_tweeters = pd.read_csv("PopularAccounts.csv", dtype=str)
popular_tweeters

        Screen Name Real Name Tweets Followers Following Favorites Count
0         katyperry       NaN    NaN       NaN       NaN             NaN
1      justinbieber       NaN    NaN       NaN       NaN             NaN
2       BarackObama       NaN    NaN       NaN       NaN             NaN
3     Taylorswift13       NaN    NaN       NaN       NaN             NaN
4           rihanna       NaN    NaN       NaN       NaN             NaN
5           youtube       NaN    NaN       NaN       NaN             NaN
6      theellenshow       NaN    NaN       NaN       NaN             NaN
7          ladygaga       NaN    NaN       NaN       NaN             NaN
8           twitter       NaN    NaN       NaN       NaN             NaN
9       jtimberlake       NaN    NaN       NaN       NaN             NaN
10    britneyspears       NaN    NaN       NaN       NaN             NaN
11        cristiano       NaN    NaN       NaN       NaN             NaN
12    kimkardashian       NaN    NaN       NaN       NaN             NaN
13      selenagomez       NaN    NaN       NaN       NaN             NaN
14           cnnbrk       NaN    NaN       NaN       NaN             NaN
15      jimmyfallon       NaN    NaN       NaN       NaN             NaN
16     arianagrande       NaN    NaN       NaN       NaN             NaN
17          shakira       NaN    NaN       NaN       NaN             NaN
18         ddlovato       NaN    NaN       NaN       NaN             NaN
19              jlo       NaN    NaN       NaN       NaN             NaN
20        instagram       NaN    NaN       NaN       NaN             NaN
21            oprah       NaN    NaN       NaN       NaN             NaN
22            drake       NaN    NaN       NaN       NaN             NaN
23        kingjames       NaN    NaN       NaN       NaN             NaN
24          nytimes       NaN    NaN       NaN       NaN             NaN
25        billgates       NaN    NaN       NaN       NaN             NaN
26              cnn       NaN    NaN       NaN       NaN             NaN
27   kevinhart4real       NaN    NaN       NaN       NaN             NaN
28       mileycyrus       NaN    NaN       NaN       NaN             NaN
29     onedirection       NaN    NaN       NaN       NaN             NaN
30     sportscenter       NaN    NaN       NaN       NaN             NaN
31             espn       NaN    NaN       NaN       NaN             NaN
32      bbcbreaking       NaN    NaN       NaN       NaN             NaN
33     harry_styles       NaN    NaN       NaN       NaN             NaN
34             pink       NaN    NaN       NaN       NaN             NaN
35       liltunechi       NaN    NaN       NaN       NaN             NaN
36       wizkhalifa       NaN    NaN       NaN       NaN             NaN
37    niallofficial       NaN    NaN       NaN       NaN             NaN
38        brunomars       NaN    NaN       NaN       NaN             NaN
39            adele       NaN    NaN       NaN       NaN             NaN
40     narendramodi       NaN    NaN       NaN       NaN             NaN
41         neymarjr       NaN    NaN       NaN       NaN             NaN
42        kanyewest       NaN    NaN       NaN       NaN             NaN
43             kaka       NaN    NaN       NaN       NaN             NaN
44      actuallynph       NaN    NaN       NaN       NaN             NaN
45  realdonaldtrump       NaN    NaN       NaN       NaN             NaN
46       danieltosh       NaN    NaN       NaN       NaN             NaN
47       srbachchan       NaN    NaN       NaN       NaN             NaN
48       aliciakeys       NaN    NaN       NaN       NaN             NaN
49              nba       NaN    NaN       NaN       NaN             NaN

In [1]:
# See what API response looks like
test_account = api.get_user("katyperry")
test_account

NameError: name 'api' is not defined

In [18]:
# Iterate through DataFrame
for index, row in popular_tweeters.iterrows():
    
    # Error handling
    try:
        # Grab the username
        target_user = row["Screen Name"]

        # Use the username with the Twitter API get_user
        user_account = api.get_user(target_user)
        user_real_name = user_account["name"]

        # Get the specific column data
        user_tweets = user_account["statuses_count"]
        user_followers = user_account["followers_count"]
        user_following = user_account["friends_count"]
        user_favorites = user_account["favourites_count"]

        # Replace the row information for each
        popular_tweeters.set_value(index, "Real Name", user_real_name)
        popular_tweeters.set_value(index, "Tweets", user_tweets)
        popular_tweeters.set_value(index, "Followers", user_followers)
        popular_tweeters.set_value(index, "Following", user_following)
        popular_tweeters.set_value(index, "Favorites Count", user_favorites)
    
    # If an error is encountered, move on with the next iteration of the loop
    except:
        continue
        
popular_tweeters

,Screen Name,Real Name,Tweets,Followers,Following,Favorites Count
0,katyperry,KATY PERRY,8730,106259284,204,5816
1,justinbieber,Justin Bieber,30647,103267651,315551,3449
2,BarackObama,Barack Obama,15479,96779882,626675,10
3,Taylorswift13,Taylor Swift,60,85607908,0,102
4,rihanna,Rihanna,10033,82136448,1131,1023
5,youtube,YouTube,21111,70407492,1029,1674
6,theellenshow,Ellen DeGeneres,15294,75349795,35988,574
7,ladygaga,Lady Gaga,8585,73487177,128612,1684
8,twitter,Twitter,6262,62111760,170,5207
9,jtimberlake,Justin Timberlake,3690,63499721,254,48
10,britneyspears,Britney Spears,5322,55983414,389456,2461
11,cristiano,Cristiano Ronaldo,3041,63617688,96,0
12,kimkardashian,Kim Kardashian West,24870,56968871,127,1
13,selenagomez,Selena Gomez,4331,54457728,1263,167
14,cnnbrk,CNN Breaking News,58781,53421763,120,18
15,jimmyfallon,jimmy fallon,10217,49678085,7754,49
16,arianagrande,Ariana Grande,40415,55182499,65199,32626
17,shakira,Shakira,5232,49150717,209,1232
18,ddlovato,Demi Lovato,16459,51532563,548,1890
19,jlo,Jennifer Lopez,12302,44028626,1734,6586
20,instagram,Instagram,11268,39448356,4,152
21,oprah,Oprah Winfrey,12326,39836901,288,149
22,drake,Drizzy,1712,36422224,635,11
23,kingjames,LeBron James,5551,39507479,176,82
24,nytimes,The New York Times,298843,40134309,886,15784
25,billgates,Bill Gates,2509,40896189,184,27
26,cnn,CNN,157172,38393313,1115,1478
27,kevinhart4real,Kevin Hart,34737,34981088,555,83
28,mileycyrus,Miley Ray Cyrus,8998,37631386,376,200
29,onedirection,One Direction,9908,31790731,3920,303
30,sportscenter,SportsCenter,99871,35095027,1661,1158
31,espn,ESPN,92452,33754857,285,95
32,bbcbreaking,BBC Breaking News,33412,35806678,3,0
33,harry_styles,Harry Styles.,5395,31331306,2046,76
34,pink,P!nk,6734,31104347,447,405
35,liltunechi,Lil Wayne WEEZY F,1738,32053617,48,13
36,wizkhalifa,Wiz Khalifa,43664,32498322,835,51
37,niallofficial,Niall Horan,12294,36092047,5973,360
38,brunomars,Bruno Mars,4062,37233810,109,177
39,adele,Adele,298,28823945,157,0
40,narendramodi,Narendra Modi,17221,36640381,1852,0
41,neymarjr,Neymar Jr,41082,34913409,747,808
42,kanyewest,NaN,NaN,NaN,NaN,NaN
43,kaka,Kaka,4787,28797063,354,75
44,actuallynph,Neil Patrick Harris,2778,27606791,113,176
45,realdonaldtrump,Donald J. Trump,36366,42560439,45,23
46,danieltosh,daniel tosh,13618,27518222,131,2
47,srbachchan,Amitabh Bachchan,59746,31034796,1156,60
48,aliciakeys,Alicia Keys,7284,29372779,689,219
49,nba,NBA,177398,26829675,1671,246

In [19]:
# Export to CSV
popular_tweeters.to_csv("populartweeterscomplete.csv", index=False)

In [23]:
# Calculate Averages of the following: "Tweets"; "Followers"; "Follwing"; "Favorites Count"
# See "Create DataFrame" below for the variable names you should use
average_tweet_count = popular_tweeters["Tweets"].mean()
average_followers = popular_tweeters["Followers"].mean()
average_following_count = popular_tweeters["Following"].mean()
average_favorites_count = popular_tweeters["Favorites Count"].mean()

# Create DataFrame
averages = {"Average Tweet Count": [average_tweet_count], 
            "Average Follower Count": [average_followers], 
            "Average Following Count": [average_following_count],
            "Average Favorites Count": [average_favorites_count]}

# Create a Dataframe of the averages
average_df = pd.DataFrame(averages)
average_df

,Average Favorites Count,Average Follower Count,Average Following Count,Average Tweet Count
0,1772.040816,4.798038e+07,32705.734694,30695.612245